:root{
  --main-font: raleway;
  --accent-font: 'STIX Two Text';
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading{
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.content-section{
  padding: 0 5vi;
}