:root {
  --main-font: raleway;
  --accent-font: 'STIX Two Text';
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  padding-block-start: 10%;
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 90%;
  text-align: center;
}

.header__menu{
  display: flex;
  justify-content: space-between;
  border-block-end: 1px solid var(--text-color);
  border-block-start: 1px solid var(--text-color);
  align-items: center;
}

button:disabled{
  pointer-events: none;
}

a:focus button:focus{
  outline: none;
}

a:focus-visible button:focus-visible{
  outline: 1px solid currentColor;
}

.header__theme-toggler{
  margin-block: 20px;
  display: flex;
  gap:20px;
  list-style: none;
  padding: 0;
}

.header__theme-button{
  font-family: inherit;
  color:currentColor;
  cursor:pointer;
  border: none;
  position: relative;
  padding: 0;
  font-size: 18px;
  background-color: transparent;
}

.header__theme-button:hover{
  text-decoration: underline;
}

.header__theme-button_is-active{
  font-weight: 700;
}

.header__theme-button_is-active::after{
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  background-color: var(--accent-color);
}

.content-section {
  padding: 0 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.content__title {
  font-size: 30px;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block a {
  color: inherit;
}

.content__blockquote {
  font-style: italic;
  line-height: 200%;
  inline-size: 75%;
  margin: 0 auto 1.5em;
}

.content__list {
  list-style: none;
  padding-inline-start: 40px;
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__list li::before {
  content: '';
  inline-size: 15px;
  block-size: 15px;
  position: absolute;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-block-start: -7.5px;
  inset-block-start: 50%;
  inset-inline-start: -25px;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-of-type::first-letter {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 30px;
  padding: 0 4px;
  margin-inline-end: 1px;
  display: inline-block;
}

.content__picture {
  inline-size: 100%;
}

.content__figure {
  margin: 7% auto;
  inline-size: calc(100% + 10vi);
  position: relative;
  inset-inline-end: 5vi;
}

.content__picture-caption {
  border-block-end: 1px solid currentColor;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.content__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  aspect-ratio: 4/3;
}

.content__card-title{
  font-size: 60px;
}

.content__card-subtitle{
  font-size: 18px;
}

.colored-text{
  position: relative;
  display: inline-block;
}

.colored-text::after{
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  background-color: var(--accent-color);
}